body{
    color: rgb(13, 141, 150);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container
{
        width: 70%;
        padding: 1em;
        text-align: left;
        border: 3px solid #DDD;
        margin: 40 auto;
}

#container h1
{
    font-size: 40px;
}